<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="com.android.vending.BILLING" />
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.VIBRATE" />-->
<!--    <uses-permission-->
<!--        android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />-->

<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="true" />-->

    <!--        DALNIM : UPDATE THIS FOR JAPANESE/CHINESE icon"-->
    <!--        android:icon="@mipmap/ic_app"-->
    <!--        android:icon="@mipmap/ic_app_multi_player"-->
    <!-- android:icon="@mipmap/ic_app_multi_player_pro"-->
    <!--        android:icon="@mipmap/ic_app_hangul"-->
    <!--        android:icon="@mipmap/ic_app_korea"-->
    <!--    android:icon="@mipmap/ic_app_japanese"-->
    <!--    android:icon="@mipmap/ic_app_chinese"-->
    <!--        android:icon="@mipmap/ic_app_music"-->
    <!--    android:icon="@mipmap/ic_app_japanese_music"-->
    <!--    android:icon="@mipmap/ic_app_chinese_music"-->
<!--    아라코이카가 아니면 아래를 사용해야한다.-->
<!--    android:icon="@mipmap/ic_app"-->
<!--    android:icon="@mipmap/ic_launcher"-->
<!--    android:roundIcon="@mipmap/ic_launcher_round"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_multi_player_pro"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.BaseSplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name=".activity.ChangePasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activity.ChangePasswordHiddenFilesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activity.SignInUpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activity.SignInUpHiddenFilesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activity.WordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name=".activity.WordChangeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize" />

        <activity
            android:name=".activity.SortActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name=".activity.SpeakActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name=".activity.ConfirmTTSActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name=".activity.ConfirmTTSSettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <activity
            android:name="com.dalread.activity.HanjaQuizWritingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />

        <activity
            android:name="com.dalread.base.BaseVocaListRecordingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.dalread.base.BaseVocaListRecordingBookListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.dalread.activity.ChooseLanguageLevel"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.dalread.activity.AppDownloadListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.dalread.base.BaseVocaFilterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name="com.dalread.activity.PracticeConversationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name="com.dalread.activity.GptWebTextShortCutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name="com.dalread.activity.InAppPointListParentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".util.MediaButtonIntentReceiver"
            android:exported="false">
            <intent-filter >
<!--                // earphone, headphone, ear pod, ear phone-->
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.dalread.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.dalread.util.GptWebMenuReceiver"
            android:exported="true">
        </receiver>
    </application>
</manifest>