<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
<!--    Android 11(API 30)이상 부터는 전체 외부 저장소 파일 시스템에 접근 또는 숨김 파일을 읽을려면 아래 권한이 필요하다. //MANAGE_EXTERNAL_STORAGE -->
<!--     <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    사진기능은 뺀다.-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
<!--    아라멀티플레이어서는 백그라운드로 가면 재생을 중지하므로 일단 안쓴다. 단, 아라플레이어는 백그라운드로 가도 계속 재생을 해야하므로,Android 14부터는 ₩ 필요하다.-->
<!--    https://medium.com/@domen.lanisnik/guide-to-foreground-services-on-android-9d0127dc8f9a-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />-->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>

        <package android:name="com.dalnimsoft.arahanja" />
    </queries>

    <application
        android:name=".AraPlayerApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="name">
        <!-- DALNIM : UPDATE THIS FOR JAPANESE/CHINESE Ads" -->
        <!-- AraPlayer English -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-9625690961966219~2264106961" />-->
        <!-- AraPlayer Japanese -->
<!--         <meta-data-->
<!--         android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--         android:value="ca-app-pub-9625690961966219~2212670848"/>-->
        <!-- AraPlayer Chinese -->
<!--         <meta-data-->
<!--         android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--         android:value="ca-app-pub-9625690961966219~9596336841"/>-->
<!--         <meta-data -->
<!--         android:name="com.google.android.gms.ads.APPLICATION_ID" -->
<!--         android:value="ca-app-pub-9625690961966219~2264106961"/> -->
         <!--AraPlayer AraMultiPlayer-->
         <meta-data
         android:name="com.google.android.gms.ads.APPLICATION_ID"
         android:value="ca-app-pub-9625690961966219~4779523462"/>

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            android:exported="true"
            tools:replace="android:windowSoftInputMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MultiPlayerMainHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PlayerNetworkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.BookmarkListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.BookmarkPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.OptionPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SubtitleEncodingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SettingVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SettingVideoSubtitleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".activity.SettingVideoPlaybackActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name=".activity.SettingVideoGestureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.WordListPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.DialogueListPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ThumbnailListPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PreferredNativeSpeakersActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ServerTypePlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ServerPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".activity.ListenComprehensionActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name=".activity.CopySubtitlePlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SubtitleFilesPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ChooseMenuLanguageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ChooseMotherLanguageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.WebDictionaryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.WebDictionaryContentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.EditSubtitleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.TranslatorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".activity.SettingPlayBackActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name=".activity.SelectPlayerIndexActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.DownloadSubtitlesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.QuizPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MediaInformationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.VideoInformationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MusicInformationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".activity.VideoDescriptionActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name=".activity.VideoSearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.VideoCreditsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.PlayListByTtsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.WordInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.CopySelectedTextActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.AppIntroductionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.StudyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.EditMeaningActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".activity.EmbedSubtitleFilesActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden" -->
        <!-- tools:ignore="LockedOrientationActivity" /> -->
        <activity
            android:name=".activity.DictationModeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SubtitleGroupActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activity.BioActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ActivityUserList"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activity.OtherProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.DescByMeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.MultiplePlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MultiPlayerStoredVideosActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.OSLoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.MultiPlayerSelectVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InAppPointListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activity.MultiPlayerWatchAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <service android:name=".service.DownloadingService" />
        <service
            android:name=".widget.LessonListWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.GetLessonListForWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.PlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
        </service>
    </application>

</manifest>